---
layout: page_title
title: 一些主要内容
titlename: 首页
---
<!--<br>--> 
<center>
	<h3>
		<font color="#000080">我</font>
		<font color="#FFA500">就</font>
		<font color="#2E8B57">是</font>
		<font color="#F08080">半</font>
		<font color="#00CED1">路</font>
		<font color="red">出</font>
		<font color="#BA55D3">家, </font>
		<font color="#601986">菜</font>
		<font color="#556fb5">就</font>
		<font color="#fa1089">去</font>
		<font color="#638c0b">学</font>
		<font color="#e00089">去</font>
		<font color="#0a1089">试</font>
		<font color="#f0c089">啊</font>
		<font color="#00c380">!</font>
	</h3>
</center>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">{{ site.locals.newest }}</div>
      {% for post in paginator.posts %}
		<!--过滤掉关于相关内容-->
		{% if post.category != "关于" %}
		   <a  href='{{ post.url }}' class="list-group-item pjaxlink clearfix">
			 {{post.title}}
			 <span class="badge">{{ post.date | date:"%Y年%m月%d日" }}</span>
		   </a>
		{% endif %}
      {% endfor %}
    </div>
  </div>
   {% for cate in site.cates %}
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">{{ cate }}</div>
        {% for tag in site.tags %} 
          {% if tag[0] == cate %}
            {% for post in tag[1] %}
              <a  href='{{ post.url }}' class="list-group-item pjaxlink clearfix">
                {{post.title}}
                <span class="badge">{{ post.date | date:"%Y年%m月%d日" }}</span><!--if true then output-->
              </a>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
 
